.mainSlides{
	width: 100%;
	height: calc(100vh - 125px);
}

.mainSlides__wrapper{
	height: 100%;
}

.mainSlides__container{
	height: 100%;
	background-image: url(../images/img_parallax.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container__text{
	width: 100%;
	position: absolute;
	top: 50%;
	text-align: center;
}

.mainSlides__container span{
	background-color: #555;
	color: white;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}