.footer{
	background-color: #333;
	color: white;
	padding: 50px 0;
	z-index: 1;
}

.footer__top{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 50px;
}

.column{
	display: flex;
	flex-direction: column;
}

.column p{
	font-size: 20px;
	margin-bottom: 5px;
}

.column a{
	text-decoration: none;
	color: #999;
	margin-bottom: 5px;
	margin-left: 10px;
}

.footer__contacts p{
	
}

.footer__bottom p{
	text-align: center;
}

.bottomPanel{
	display: none;
}

@media screen and (max-width: 839px){

	.bottomPanel{
		display: flex;
		align-items: center;
		position: fixed;
		bottom: 0;
		justify-content: space-around;
		width: 100%;
		background-color: #333;
		padding: 7px;
		font-size: 24px;
		z-index: 5;
	}

	.bottomPanel a{
		color: white;
		border-radius: 50%;
		background-color: #555;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
	}

	.bottomPanel a:active{
		background-color: #777;
	}

}