.header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/*border-bottom: 2px solid #333;*/
	padding: 10px 0px 10px 0px;
	box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.75);
	z-index: 99;
	/*position: fixed;*/
	width: 100%;
	background: #333;
	color: white;
	top: 0;
	transition: 0.5s;
}

.scrolled{
	position: sticky;
	background: #333;
}

.header__logo a{
	font-family: 'FontsOnline';
	font-size: 40px;
	text-decoration: none;
	color: white;
	transition: 0.1s;
	letter-spacing: 5px;
}

.header__logo a:hover{
	text-shadow: 0px 0px 12px rgba(150, 150, 150, 1);
}

.header__search{
	display: flex;
	justify-content: center;
	width: 300px;
	position: relative;
	left: 32px;
}

.header__search input{
	/*border-bottom: 1px solid white;*/
	/*padding: 8px;*/
	width: 100%;
	/*transition: all 0.3s;*/
	background-color: transparent;
	color: white;
	padding: 8px 1px;
	border-bottom: 1px solid #444;
}

.header__search span{
	position: absolute;
bottom: 0;
left: 50%;
width: 0;
height: 2px;
background-color: white;
transition: 0.4s;
}

.header__search input:focus~span{
	width: 100%;
	transition: 0.4s;
	left: 0;
}


.header__menu{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.header__menu a{
	text-decoration: none;
	margin: 0px 5px 0 5px;
	padding: 4px;
	font-size: 14px;
	color: white;
	transition: 0.1s;
	border-radius: 10px;
}

.header__menu a:hover{
	color: white;
	background: #555;
}

.header i{
	font-size: 22px;
	margin-bottom: 4px;
}

.header__location{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
	font-size: 14px;
}

.header__fav{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
	font-size: 14px;
}

.header__cart{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
}

.mobileSearch{
	display: none;
	height: 0;
}

@media screen and (max-width: 719px){
	.header__search{
		display: none;
	}

	.header__menu{
		display: none;
	}

	.mobileSearch{
		display: block;
		position: relative;
		transition: 0.3s;
		overflow-y: hidden;
		background: #555;
	}

	.mobileSearch input{
		width: 100%;
		height: 100%;
		padding-left: 32px;
		background: #555;
		color: white;
		font-size: 18px;
	}

	.mobileSearch i{
		position: absolute;
		top: 8px;
		left: 6px;
		font-size: 19px;
		color: #fffe;
	}


	/* Современные браузеры
   ----------------------------  */
.mobileSearch input::placeholder {color: #fffe;}

/* WebKit, Edge
   ----------------------------  */
.mobileSearch input::-webkit-input-placeholder {color: #fffe;}

/* Edge
   ----------------------------  */
.mobileSearch input::-ms-input-placeholder {color: #fffe;}

/* Firefox 4-18
   ----------------------------  */
.mobileSearch input:-moz-placeholder {color: #fffe;opacity: 1;}

/* Firefox 19+
   ----------------------------  */
.mobileSearch input::-moz-placeholder {color: #fffe;opacity: 1;}

/* IE 10-11
   ----------------------------  */
.mobileSearch input:-ms-input-placeholder {color: #fffe	;}
}